.main {
  position: relative;
  width: 100%;
  height: 100%;
}
.main .unlock-con {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 11000;
}
.main .sidebar-menu-con {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
}
.main .main-hide-text .layout-text {
  display: none;
}
.main-content-container {
  position: relative;
}
.main-header-con {
  box-sizing: border-box;
  position: fixed;
  display: block;
  padding-left: 200px;
  width: 100%;
  height: 100px;
  z-index: 1000;
  box-shadow: 0 2px 1px 1px rgba(100, 100, 100, 0.1);
}
.main-breadcrumb {
  padding: 8px 15px 0;
}
.main-menu-left {
  background: #464c5b;
  height: 100%;
}
.main .tags-con {
  height: 40px;
  padding: 2px 10px;
  z-index: -1;
  overflow: hidden;
  background: #f0f0f0;
}
.main-header {
  height: 60px;
  background: #fff;
  box-shadow: 0 2px 1px 1px rgba(100, 100, 100, 0.1);
  position: relative;
  z-index: 10;
}
.main-header .navicon-con {
  margin: 6px;
  display: inline-block;
}
.main-header .header-middle-con {
  position: absolute;
  left: 60px;
  top: 0;
  right: 340px;
  bottom: 0;
  padding: 10px;
  overflow: hidden;
}
.main-header .header-avator-con {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
}
.main-header .header-avator-con .switch-theme-con {
  display: inline-block;
  width: 40px;
  height: 100%;
}
.main-header .header-avator-con .message-con {
  display: inline-block;
  width: 30px;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
}
.main-header .header-avator-con .message-con i {
  vertical-align: middle;
}
.main-header .header-avator-con .change-skin {
  font-size: 14px;
  font-weight: 500;
  padding-right: 5px;
}
.main-header .header-avator-con .switch-theme {
  height: 100%;
}
.main-header .header-avator-con .user-dropdown-menu-con {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 100%;
}
.main-header .header-avator-con .user-dropdown-menu-con .main-user-name {
  display: inline-block;
  width: 80px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
.main-header .header-avator-con .user-dropdown-innercon {
  height: 100%;
  padding-right: 14px;
}
.main-header .header-avator-con .full-screen-btn-con {
  display: inline-block;
  width: 30px;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
}
.main-header .header-avator-con .full-screen-btn-con i {
  vertical-align: middle;
}
.main-header .header-avator-con .lock-screen-btn-con {
  display: inline-block;
  width: 30px;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
}
.main-header .header-avator-con .lock-screen-btn-con i {
  vertical-align: middle;
}
.main .single-page-con {
  box-sizing: border-box;
  padding: 100px 0 10px;
  background-color: #F0F0F0;
  z-index: -1;
}
.main .single-page-con .single-page {
  margin: 10px;
}
.main-copy {
  text-align: center;
  padding: 10px 0 20px;
  color: #9ea7b4;
}
.taglist-moving-animation-move {
  transition: transform 0.3s;
}
.logo-con {
  padding: 8px;
}
.logo-con img {
  width: 100%;
}
